/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #1f0c70;
    color: #fff;
}

body {
    display: -ms-flexbox;
    display: flex;
}

:global #root {
    width: 100%;
}